html:root {
	--primary: #5b21b6;
	/* Accent-only purple branding */
	--color-blue-500: #5b21b6;
	--color-blue-600: #4c1d95;
	--color-indigo-500: #5b21b6;
	--color-indigo-600: #4c1d95;
	--color-purple-500: #5b21b6;
}

html.dark {
	--primary: #7338a0;
	--color-blue-500: #7338a0;
	--color-blue-600: #632f8a;
	--color-indigo-500: #7338a0;
	--color-indigo-600: #632f8a;
	--color-purple-500: #7338a0;
}
